      @font-face {
          font-family: "HackerDojoFont";
          src: url("./fonts%2Fwhitney-medium.woff?alt=media&token=8133c835-e280-4b0d-977d-fec892aba96e");
      }


      @font-face {
          font-family: "Horizon";
          src: url("./fonts%2Fhorizon.c7c834b7fe209bdc0a30119a6b1d26ae.b3ebf62f8ff8ae950dea860d56c49d1b.woff2?alt=media&token=15a86321-1806-4255-92fc-ffaf461973be");
      }


      @font-face {
          font-family: "Lightning";
          src: url("./fonts%2FEdo_new14539556727599266484.788b49731d86.2a24fe76e95bd0389c47556fa84e15d8.woff2?alt=media&token=b4378efc-6930-4f06-9265-cd25889b366c");
      }

      BODY {
          font-family: 'Horizon', arial;
          font-size: 32px;
          margin:0;
          background-color:black;

          background-opacity: 0.5;
          color:#CEFB50;
          color:#c4fc2f;
          height:100%;
          overflow:hidden;
      }

      HTML {
          margin: 0;
      }

      .textshadow {
          text-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 0.2em black
      }

      .shadow {
          box-shadow: 1px 1px 2px black, 0 0 1px black, 0 0 0.2em black;
      }

      .lightningtalks {
          font-family: "Lightning";
          font-size:400%;
      }
      .hdlogo {
          bottom: 10px;
          left:10px;
      }

      .date {
          font-size:60%;
          display:none;
      }
      
      .columns {
          padding-left:80px;
          padding-right:60px;
          position:absolute;
          width: calc( 100vw - 80px);
          display:flex;
          flex-direction: columns;
          justify-content: space-between;
      }
      .left, .right {
          padding-top:60px;
          text-align: left;
      }
      .left {
          width:50%
      }
      .right {
          background-color:black;
          padding-left:50px;
          width:50%;
          margin-right: -20px;
          padding-right: 60px;
      }
      .spacer {
          height:65px;
      }
      .functional {
          font-family: "Helvetica";
          color:white;
          font-size: 120%;
          text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
      }
      
      .largelineheight {
          font-family: "Helvetica";
          color:white;
          font-size: 130%;
          line-height: 1.5;
          text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
      }
      .countdown {
          
      }

      .whitebar {
          width:80%;
          height:5px;
          background-color:white;
          margin-top:20px;
          margin-bottom:20px;
      }


      #bolt {
          background-image: url('./assets%2Fboltbig.png?alt=media&token=5db4aac0-3acf-4bef-adf5-3b7b47f9ac22');
          background-repeat: no-repeat;
          background-size: contain;
          position:absolute;
          top:-100px;
          left:100px;
          height:1200px;
          width:1600px ;
      }

      #mic {
          background-image: url('./assets%2Fmic.png?alt=media&token=77b0a668-694f-42fb-92fc-52b8de8b2955');
          background-repeat: no-repeat;
          position:absolute;
          left:350px;
          bottom:0px;
          height:624px;
          width:597px;
      }
                               
      .pixel {
          width:10px;
          height:10px;
          background-color:black;
          position:absolute;
      }
      .panel {
          position:relative;
      }

